* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
}

.product,
.Cart {
    width: 50%;
}

.product h1,
.Cart h1 {
    width: 100%;
    text-align: center;
    margin: 20px 0;
    margin-bottom: 30px;
}

.items-box,
.cart-box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.item {
    width: 100%;
    height: max-content;
    display: flex;
    justify-content: space-around;

}

.item h3 {
    width: 30%;
}

.item p {
    width: 30%;
}

.item button {
    width: 100px;
}