/* Assignment 1 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#background {
    background-color: black;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

#btn-1 {
    background-color: #f082ac;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #ffffff;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

#btn-1:hover,
#btn-1:focus {
    background-color: #f082ac;
}
